DSH_AWIKI_USER_SERVICE_URL=https://user.awiki.example
DSH_AWIKI_USER_SERVICE_DOMAIN=awiki.info
DSH_AWIKI_MESSAGE_SERVICE_URL=https://message.awiki.example
DSH_AWIKI_MAIL_SERVICE_URL=https://mail.awiki.example
DSH_AWIKI_MESSAGE_SERVICE_DID=did:wba:messages.awiki.example
DSH_AWIKI_MESSAGE_SERVICE_PUBLIC_URL=https://message.awiki.example
DSH_AWIKI_GUEST_GATEWAY_URL=https://guest.awiki.example
DSH_AWIKI_ALLOWED_ATTACHMENT_ORIGINS=[]
DSH_AWIKI_STATE_ROOT=/var/lib/dsh-awiki/im-core
DSH_AWIKI_POLL_INTERVAL_MS=5000
DSH_AWIKI_ATTACHMENT_MAX_BYTES=10485760
DSH_AWIKI_REALTIME_ENABLED=true
DSH_AWIKI_LISTENER_ENABLED=false
DSH_AWIKI_LISTENER_ALLOWED_PEERS=[]
DSH_AWIKI_LISTENER_WORKSPACE_PATH=/var/lib/dsh/workspaces/awiki
